/*KL Pages ------------------------------------------------------- */
/*KL Index.html -------- */
.KLPreface{
    position: absolute;
    padding:50px;
}

.KLPrefacerow-1{
  // position: relative;

}

.KLPrefacerow-2{
    font-size: 6rem;

}

.KLPrefacerow-3{
}

.KLPrefacerow-4{
}

.KLPrefaceWord{
  // background-color:rgb(192, 39, 0);
    color:rgb(255, 255, 255);
  text-shadow: 0px 0px 3px rgb(0, 0, 0);

}



.KLTitle{
    // background-color:rgb(0, 39, 246);
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 15px rgba(0, 0, 0,0.8);
}

.KLLogo{
}

.KLTagline{
    // background-color:rgb(0, 39, 246);
    font-size: 35px;
    bottom:0px;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 15px rgba(0, 0, 0,0.8);
    text-align: right;

}

.KLProductsCard{
  border-color:rgba(255,255,255,0)
}
/*KLcarousel ------------- */
.carousel-caption{
  background-color:rgba(182, 9, 9, 0.5);
  border-radius: 3px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0,0.8);
  padding: 5px 20px ;
}

.d-md-block{
    font-size: 1rem;
}

.aboutWord{
  color: rgba(4, 4, 4,0.5) ;
}

@media (min-width:0px) {
  .KLPreface{
      padding:30px 25px 25px;
  }
  .KLPrefacerow-2{
      font-size: 2rem;
  }
  .KLTitle{
      text-align: center;
      font-size: 4.5rem;
  }
  .KLTagline{
      text-align: center;
      font-size: 1.5rem;
  }
  img.KLLogo{
    width:35px;
    height:35px;
  }
}

@media (min-width:576px) {
  .KLPreface{
      padding:30px;
  }
  .KLPrefacerow-2{
      font-size: 3rem;
  }
  .KLTitle{
      text-align: center;
        font-size: 4.5rem;
  }
  .KLTagline{
      text-align: center;
      font-size: 1.5rem;
  }
  img.KLLogo{
    width:35px;
    height:35px;

  }

}

@media (min-width:768px) {
  .KLPreface{
      padding:50px;
  }
  .KLPrefacerow-2{
      font-size: 4rem;
  }
  .KLTitle{
      text-align: center;
      font-size: 5.8rem;
  }
  .KLTagline{
      text-align: center;
      font-size: 35px;
  }
  img.KLLogo{
    width:50px;
    height:50px;
  }

}

@media (min-width:992px) {
  .KLPreface{
      padding:50px;
  }
  .KLPrefacerow-2{
      font-size: 5.5rem;

  }
  .KLTitle{
      text-align: right;
        font-size: 5.8rem;
  }
  .KLTagline{
      text-align: right;
      font-size: 40px;
  }

  img.KLLogo{
    width:58px;
    height:58px;
  }

  .d-md-block{
      font-size: 1.5rem;
  }

}

@media (min-width:1200px) {
  .KLPreface{
      padding:50px;
  }
  .KLPrefacerow-2{
      font-size: 6rem;
  }
  .KLTitle{
      text-align: right;
      font-size: 6.8rem;
  }
  .KLTagline{
      text-align: right;
      font-size: 45px;
  }
  img.KLLogo{
    width:68px;
    height:68px;
  }

  .d-md-block{
      font-size: 1.5rem;
  }

}
