ul{
  list-style-type: none;
}

.sideBar{
  background-color: white;
  height: 100vh;
  margin-top: -9.8vh;
}

.sideBar a{
  color: black;
}

.sideBody{
  height: 100vh;
  margin-top: -9.8vh;
  padding: 0px;
}

.sideBodyHeader{
  background-color: rgb(205, 205, 205);
  height:5vh;
  margin: 0;
  position: relative;
  text-align: center;

}

.sideBodyHeader a{
  color:rgb(225, 225, 225);
  position: absolute;
  top:50%;
  left:50%;
  Transform: translate( -50%, -50%);
}

.headerLabel{
  background-color: rgb(205, 205, 205);
}


// color of side body
.odaiba{
  background-color: black;
}

.shinbashi{
  background-color: black;
}

.ginza{
  background-color: black;
}

// header color of side body
div.odaiba > div.sideBodyHeader> div.oda{
    background-color: black;
    border-radius: 0 7px 0 0;
}

div.shinbashi > div.sideBodyHeader> div.shin{
    background-color: black;
    border-radius: 7px 7px 0 0;
}

div.ginza > div.sideBodyHeader> div.gin{
    background-color: black;
    border-radius: 7px 7px 0 0;
}

// Photos
.gridContainer{
  background-color: black;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(14, 100px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.odaiba .p1{
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.odaiba .p1 img{
  width: auto;
  height: 100%;
}

.odaiba .p2{
  overflow: auto;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 4;
}

.odaiba .p2 img{
  width: auto;
  height: 150%;
}

.odaiba .p3{
  overflow: auto;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 6;

}

.odaiba .p4{
  overflow: auto;
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 11;
}

.odaiba .p5{
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 11;
  grid-row-end: 13;
}

.odaiba .p5 img{
  width: auto;
  height: 100%;
}

.odaiba .p6{
  overflow: auto;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 13;
  grid-row-end: 15;
}

.odaiba .p6 img{
  width: auto;
  height: 100%;
}

// Photos in Phones
@media (max-width:576px) {
  .sideBar{
    visibility: hidden;
    display: none;
  }

  .sideBody{
    height: 100vh;
    width: 100vw;
  }

  .gridContainer{
    background-color: black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .odaiba .p1{
    overflow: auto;
    // grid-column-start: 1;
    // grid-column-end: 3;
    // grid-row-start: 1;
    // grid-row-end: 3;
  }

  .odaiba .p1 img{
    width: auto;
    height: 100%;
  }

  .odaiba .p2{
    overflow: auto;
    // grid-column-start: 3;
    // grid-column-end: 7;
    // grid-row-start: 2;
    // grid-row-end: 4;
  }

  .odaiba .p2 img{
    width: auto;
    height: 150%;
  }

  .odaiba .p3{
    overflow: auto;
    // grid-column-start: 7;
    // grid-column-end: 11;
    // grid-row-start: 2;
    // grid-row-end: 6;

  }

  .odaiba .p4{
    overflow: auto;
    // grid-column-start: 3;
    // grid-column-end: 10;
    // grid-row-start: 6;
    // grid-row-end: 11;
  }

  .odaiba .p5{
    overflow: auto;
    // grid-column-start: 1;
    // grid-column-end: 6;
    // grid-row-start: 11;
    // grid-row-end: 13;
  }

  .odaiba .p5 img{
    width: auto;
    height: 100%;
  }

  .odaiba .p6{
    overflow: auto;
    // grid-column-start: 2;
    // grid-column-end: 8;
    // grid-row-start: 13;
    // grid-row-end: 15;
  }

  .odaiba .p6 img{
    width: auto;
    height: 100%;
  }
}
