
header{
  background-color: rgb(9, 70, 70);
  font-variant: small-caps;
}

body{
  background-color: rgb(241, 224, 194);
  padding-top: 5rem;
}

footer{
  background-color: rgb(16, 45, 198);
  height: 10%;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Palanquin Dark', sans-serif;
} */

.title{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.5rem
}

.singleYear {
  font-size:4rem;
  font-family: 'Palanquin Dark', sans-serif;
  padding-bottom: 2rem;
}


@media (min-width:576px) {
.singleYear {
    font-size: 6rem;
  }
}

@media (min-width:768px) {
.singleYear {
    font-size: 7rem;
  }
}

@media (min-width:992px) {
.singleYear {
    font-size: 8rem;
  }
}

@media (min-width:1200px) {
  .singleYear {
    font-size: 10rem;
  }
}


.currentPage{
  color: rgb(237, 145, 23);
  font-weight: 900;
}

body.home li.home > a.nav-link {
  @extend .currentPage
}

body.home li.home > a.nav-link:hover {
  @extend .currentPage
}

body.resume li.resume > a.nav-link {
  @extend .currentPage
}

body.resume li.resume > a.nav-link:hover {
  @extend .currentPage
}
