demoheader {
  background-color: #f1e0c2;
  font-variant: small-caps;
}

body {
  background-color: white;
  padding-top: 5rem;
}

footer {
  background-color: #f1e0c2;
  height: 10%;
}

nav {
  background-color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.title {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 1.5rem;
}

#HCard {
  border-color: rgba(255, 255, 255, 0);
}

.preface {
  text-align: center;
}

.singleYear {
  font-size: 4rem;
  font-family: "Palanquin Dark", sans-serif;
  padding-bottom: 2rem;
}

/*nav bar ------------------------------------------------------- */
nav > button#myNavBtn {
  background-color: rgba(0, 0, 0, 0.2);
}

nav > button#myNavBtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#myNav {
  color: rgba(4, 4, 4, 0.5);
}

#myNav:hover {
  color: #040404;
}

li > a.dropdown-toggle #myNav #dropdown01 {
  color: rgba(4, 4, 4, 0.5) !important;
}

li > a#myNav #dropdown01:hover {
  color: #040404;
}

body.orders li.orders > a.nav-link#myNav:hover, body.orders li.orders > a.nav-link#myNav, body.products li.products > a.nav-link#myNav:hover, body.products li.products > a.nav-link#myNav, body.about li.about > a.nav-link#myNav:hover, body.about li.about > a.nav-link#myNav, body.demo li.demo > a.nav-link#myNav:hover, body.demo li.demo > a.nav-link#myNav, body.resume li.resume > a.nav-link#myNav:hover, body.resume li.resume > a.nav-link#myNav, body.home li.home > a.nav-link#myNav:hover, body.home li.home > a.nav-link#myNav {
  color: #040404;
  font-weight: 900;
}

/* anime ------------------------------------------------------- */
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: relative;
}

/* trigrams ------------------------------------------------------- */
.trigrams {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.25rem;
}

.tri {
  background-color: rgba(255, 255, 255, 0);
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;
  border-radius: 50%;
}

.triGap {
  background-color: white;
  height: 0px;
  width: 0px;
  transform: translate(79px);
}

.triGapBlack {
  background-color: black;
}

/* animation ------------------------------------------------------- */
.homeCard:hover {
  animation: homecard 0.5s;
  animation-fill-mode: both;
}
.homeCard:hover .circle {
  animation: circleHover 0.5s;
  animation-fill-mode: both;
}

.homeCard:not(:hover) {
  animation: Rhomecard 0.5s;
  animation-fill-mode: both;
}
.homeCard:not(:hover) .circle {
  animation: RcircleHover 0.5s;
  animation-fill-mode: both;
}

@keyframes homecard {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: black;
    color: white;
    box-shadow: 0 5px 7px grey;
  }
}
@keyframes Rhomecard {
  from {
    background-color: black;
    color: white;
    box-shadow: 0 5px 7px grey;
  }
  to {
    background-color: white;
    color: black;
  }
}
/* animation circle */
@keyframes circleHover {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(120px);
  }
}
@keyframes RcircleHover {
  from {
    transform: translateY(120px);
  }
  to {
    transform: translateX(0);
  }
}
/* media screen size change -------------------------------------------------------*/
@media (min-width: 0px) {
  .singleYear {
    font-size: 3rem;
  }

  .homeCard:hover {
    animation: homecard 0.5s;
    animation-fill-mode: both;
  }
  .homeCard:hover .circle {
    animation: circleHover 0.5s;
    animation-fill-mode: both;
  }
}
@media (min-width: 576px) {
  .singleYear {
    font-size: 5rem;
  }

  .homeCard:hover {
    animation: homecard 0.5s;
    animation-fill-mode: both;
  }
  .homeCard:hover .circle {
    animation: circleHover 0.5s;
    animation-fill-mode: both;
  }
}
@media (min-width: 768px) {
  .singleYear {
    font-size: 7rem;
  }

  .homeCard:hover {
    animation: homecard 0.5s;
    animation-fill-mode: both;
    cursor: pointer;
  }
  .homeCard:hover .circle {
    animation: circleHover 0.5s;
    animation-fill-mode: both;
  }
}
@media (min-width: 992px) {
  .singleYear {
    font-size: 8rem;
  }

  .d-md-block {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .singleYear {
    font-size: 10rem;
  }

  .d-md-block {
    font-size: 1.5rem;
  }
}
/* import partials */
/*KL Pages ------------------------------------------------------- */
/*KL Index.html -------- */
.KLPreface {
  position: absolute;
  padding: 50px;
}

.KLPrefacerow-2 {
  font-size: 6rem;
}

.KLPrefaceWord {
  color: white;
  text-shadow: 0px 0px 3px black;
}

.KLTitle {
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.KLTagline {
  font-size: 35px;
  bottom: 0px;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  text-align: right;
}

.KLProductsCard {
  border-color: rgba(255, 255, 255, 0);
}

/*KLcarousel ------------- */
.carousel-caption {
  background-color: rgba(182, 9, 9, 0.5);
  border-radius: 3px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  padding: 5px 20px;
}

.d-md-block {
  font-size: 1rem;
}

.aboutWord {
  color: rgba(4, 4, 4, 0.5);
}

@media (min-width: 0px) {
  .KLPreface {
    padding: 30px 25px 25px;
  }

  .KLPrefacerow-2 {
    font-size: 2rem;
  }

  .KLTitle {
    text-align: center;
    font-size: 4.5rem;
  }

  .KLTagline {
    text-align: center;
    font-size: 1.5rem;
  }

  img.KLLogo {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 576px) {
  .KLPreface {
    padding: 30px;
  }

  .KLPrefacerow-2 {
    font-size: 3rem;
  }

  .KLTitle {
    text-align: center;
    font-size: 4.5rem;
  }

  .KLTagline {
    text-align: center;
    font-size: 1.5rem;
  }

  img.KLLogo {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 768px) {
  .KLPreface {
    padding: 50px;
  }

  .KLPrefacerow-2 {
    font-size: 4rem;
  }

  .KLTitle {
    text-align: center;
    font-size: 5.8rem;
  }

  .KLTagline {
    text-align: center;
    font-size: 35px;
  }

  img.KLLogo {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 992px) {
  .KLPreface {
    padding: 50px;
  }

  .KLPrefacerow-2 {
    font-size: 5.5rem;
  }

  .KLTitle {
    text-align: right;
    font-size: 5.8rem;
  }

  .KLTagline {
    text-align: right;
    font-size: 40px;
  }

  img.KLLogo {
    width: 58px;
    height: 58px;
  }

  .d-md-block {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .KLPreface {
    padding: 50px;
  }

  .KLPrefacerow-2 {
    font-size: 6rem;
  }

  .KLTitle {
    text-align: right;
    font-size: 6.8rem;
  }

  .KLTagline {
    text-align: right;
    font-size: 45px;
  }

  img.KLLogo {
    width: 68px;
    height: 68px;
  }

  .d-md-block {
    font-size: 1.5rem;
  }
}
/* The Modal (background) W3school example */
.modal {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/ opacity */
  display: none;
  /* Hidden by default */
  height: 100%;
  /* Full height */
  left: 0;
  overflow: auto;
  /* Enable scroll if needed */
  position: fixed;
  /* Stay in place */
  top: 0;
  width: 100%;
  /* Full width */
  z-index: 1;
  /* Sit on top */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: rgba(4, 4, 4, 0.3);
  right: 2%;
  font-size: 28px;
  position: absolute;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The thumbsnail */
.KLProductsBtn {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.KLProductsBtn:hover {
  border-top: 1px solid #a72a17;
  cursor: pointer;
}

@media (min-width: 0px) {
  .close {
    right: 4.5%;
  }

  .modal-content {
    width: 100%;
    top: 45%;
  }
}
@media (min-width: 576px) {
  .close {
    right: 4.5%;
  }

  .modal-content {
    width: 100%;
    top: 45%;
  }
}
@media (min-width: 768px) {
  .close {
    right: 2%;
  }

  .modal-content {
    width: 80%;
    top: 53%;
  }
}
@media (min-width: 992px) {
  .close {
    right: 2%;
  }

  .modal-content {
    width: 80%;
    top: 53%;
  }
}
@media (min-width: 1200px) {
  .close {
    right: 2%;
  }

  .modal-content {
    width: 80%;
    top: 53%;
  }
}
.JP_body {
  background-color: black;
  padding: 0;
}

ul {
  list-style-type: none;
}

.shinshuku, .shinagawa, .ginza, .shinbashi, .odaiba {
  background-color: white;
  display: flex;
}

.odaibaFooter {
  position: absolute;
  width: 100vw;
  padding-top: 10px;
  background-color: black;
  height: 110px;
  text-align: center;
  color: rgba(200, 200, 200, 0.6);
}

.mediaLogo {
  margin: 5px;
  font-size: 16px;
  color: rgba(200, 200, 200, 0.6);
}

.mediaLogo:hover {
  color: white;
}

.copyright {
  font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
}

.sideBody {
  padding: 0px;
  flex: 1 1 35%;
}

.sideBodyHeader {
  background-color: white;
  height: 5vh;
  margin: 0;
  display: flex;
}

.sideBodyHeader a {
  color: #c8c8c8;
  font-family: "Kosugi Maru", sans-serif;
  display: block;
  text-align: center;
}

.sideBodyHeader a div {
  margin-top: 2.5vh;
  transform: translate(0, -50%);
}

.sideBodyHeader a:hover {
  text-decoration: none;
}

.headerLabel {
  background-color: white;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.headerLabel:hover {
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 7px 7px 0 0;
}

div.shinshuku div.sideBar div.sideShinshuku a, div.shinagawa div.sideBar div.sideShi a, div.ginza div.sideBar div.sideGin a, div.shinbashi div.sideBar div.sideShin a, div.odaiba div.sideBar div.sideOdai a {
  -webkit-animation: wordChange 0.3s forwards;
  -webkit-animation-timing-function: ease-out;
  font-family: "Voltaire", sans-serif;
}

@-webkit-keyframes wordChange {
  to {
    font-size: calc(14px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: black;
  }
}
div.odaiba > div.sideBody > div.sideBodyHeader > a.oda {
  background-color: black;
  border-radius: 7px 7px 0 0;
}

div.shinbashi > div.sideBody > div.sideBodyHeader > a.shin {
  background-color: black;
  border-radius: 7px 7px 0 0;
}

div.ginza > div.sideBody > div.sideBodyHeader > a.gin {
  background-color: black;
  border-radius: 7px 7px 0 0;
}

div.shinagawa > div.sideBody > div.sideBodyHeader > a.shi {
  background-color: black;
  border-radius: 7px 7px 0 0;
}

div.shinshuku > div.sideBody > div.sideBodyHeader > a.shuku {
  background-color: black;
  border-radius: 7px 7px 0 0;
}

.odaiba .gridContainer {
  background-color: black;
  padding: 10px 0 0 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 7vw);
}

.odaiba .p1 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p1 img {
  width: auto;
  height: 100%;
}

.odaiba .p2 {
  overflow: auto;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p2 img {
  width: auto;
  height: 100%;
}

.odaiba .p3 {
  overflow: auto;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 5;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p3 img {
  width: auto;
  height: 100%;
}

.odaiba .p4 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 8;
  z-index: 1;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p4 img {
  width: auto;
  height: 100%;
}

.odaiba .p5 {
  overflow: auto;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 7;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p5 img {
  width: auto;
  height: 100%;
}

.odaiba .p6 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 10;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p6 img {
  width: auto;
  height: 100%;
}

.odaiba .p7 {
  overflow: auto;
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 7;
  grid-row-end: 10;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p7 img {
  width: auto;
  height: 100%;
}

.sideBar {
  height: auto;
  flex: 1 1 0;
}

.sideBar a {
  color: #969696;
}

.sideBarContiner {
  position: fixed;
}

.odaibaSteveLogo {
  margin: 16px;
}

.sideBarList a:hover {
  text-decoration: none;
  color: black;
}

.sideBarList {
  padding-left: 15px;
}

.shinbashi .gridContainer {
  background-color: black;
  padding: 10px 0 0 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 7vw);
}

.shinbashi .p1 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinbashi .p1 img {
  width: auto;
  height: 100%;
}

.shinbashi .p2 {
  overflow: auto;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinbashi .p2 img {
  width: auto;
  height: 100%;
}

.shinbashi .p3 {
  overflow: auto;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 5;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinbashi .p3 img {
  width: auto;
  height: 100%;
}

.shinbashi .p4 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 9;
  z-index: 1;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
  text-align: center;
}

.shinbashi .p4 img {
  width: auto;
  height: 100%;
}

.shinbashi .p5 {
  overflow: auto;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinbashi .p5 img {
  width: 100%;
  height: auto;
}

.shinbashi .p6 {
  overflow: auto;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinbashi .p6 img {
  width: auto;
  height: 100%;
}

.shinbashi .p7 {
  overflow: auto;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 9;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinbashi .p7 img {
  width: auto;
  height: 100%;
}

.ginza .gridContainer {
  background-color: black;
  padding: 10px 0 0 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 7vw);
}

.ginza .p1 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.ginza .p1 img {
  width: auto;
  height: 100%;
}

.ginza .p2 {
  overflow: auto;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.ginza .p2 img {
  width: auto;
  height: 100%;
}

.ginza .p3 {
  overflow: auto;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.ginza .p3 img {
  width: auto;
  height: 100%;
}

.ginza .p4 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 7;
  z-index: 1;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.ginza .p4 img {
  width: auto;
  height: 100%;
}

.ginza .p5 {
  overflow: auto;
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 6;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.ginza .p5 img {
  width: auto;
  height: 100%;
}

.ginza .p6 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 9;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.ginza .p6 img {
  width: auto;
  height: 100%;
}

.ginza .p7 {
  overflow: auto;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 9;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.ginza .p7 img {
  width: auto;
  height: 100%;
}

.ginza .p8 {
  overflow: auto;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 9;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.ginza .p8 img {
  width: 100%;
  height: auto;
}

.ginza .p9 {
  overflow: auto;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 6;
  grid-row-end: 9;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.ginza .p9 img {
  width: 100%;
  height: auto;
}

.shinagawa .gridContainer {
  background-color: black;
  padding: 10px 0 0 10px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(13, 7vw);
}

.shinagawa .p1 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 3;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinagawa .p1 img {
  width: 100%;
  height: auto;
}

.shinagawa .p2 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 7;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinagawa .p2 img {
  width: 100%;
  height: auto;
}

.shinagawa .p3 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinagawa .p3 img {
  width: 100%;
  height: auto;
}

.shinagawa .p4 {
  overflow: auto;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
  z-index: 1;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinagawa .p4 img {
  width: 150%;
  height: auto;
}

.shinagawa .p5 {
  overflow: auto;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinagawa .p5 img {
  width: 100%;
  height: auto;
}

.shinagawa .p6 {
  overflow: auto;
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 8;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinagawa .p6 img {
  width: auto;
  height: 100%;
}

.shinagawa .p7 {
  overflow: auto;
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 8;
  grid-row-end: 11;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinagawa .p7 img {
  width: 100%;
  height: auto;
}

.shinagawa .p8 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 11;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinagawa .p8 img {
  width: 100%;
  height: auto;
}

.shinagawa .p9 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 11;
  grid-row-end: 14;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinagawa .p9 img {
  width: 100%;
  height: auto;
}

.shinshuku .gridContainer {
  background-color: black;
  padding: 10px 0 0 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 7vw);
}

.shinshuku .p1 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p1 img {
  width: auto;
  height: 100%;
}

.shinshuku .p2 {
  overflow: auto;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p2 img {
  width: 100%;
  height: auto;
}

.shinshuku .p3 {
  overflow: auto;
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p3 img {
  width: 100%;
  height: auto;
}

.shinshuku .p4 {
  overflow: auto;
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 6;
  z-index: 1;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p4 img {
  width: auto;
  height: 100%;
}

.shinshuku .p5 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p5 img {
  width: 100%;
  height: auto;
}

.shinshuku .p6 {
  overflow: auto;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 6;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p6 img {
  width: auto;
  height: 100%;
}

.shinshuku .p7 {
  overflow: auto;
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 6;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p7 img {
  width: auto;
  height: 100%;
}

.shinshuku .p8 {
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 10;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p8 img {
  width: auto;
  height: 100%;
}

.shinshuku .p9 {
  overflow: auto;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 10;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p9 img {
  width: auto;
  height: 100%;
}

.shinshuku .p10 {
  overflow: auto;
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 10;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.shinshuku .p10 img {
  width: auto;
  height: 100%;
}

@media (max-width: 1500px) {
  .sideBody {
    padding: 0px;
    flex: 1 1 50%;
  }
}
@media (max-width: 1024px) {
  .sideBar {
    background-color: white;
    flex: 1 1 0;
  }

  .sideBody {
    flex: 1 1 65%;
  }

  .sideBarList {
    position: absolute;
    top: 62px;
    margin: 0 0 0 3px;
  }

  .odaiba .gridContainer {
    background-color: black;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, 7vw);
  }

  .odaiba .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .odaiba .p1 img {
    width: auto;
    height: 110%;
  }

  .odaiba .p2 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .odaiba .p2 img {
    width: 110%;
    height: auto;
  }

  .odaiba .p3 {
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .odaiba .p3 img {
    width: auto;
    height: 120%;
  }

  .odaiba .p4 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 11;
  }

  .odaiba .p4 img {
    width: 100%;
    height: auto;
  }

  .odaiba .p5 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 13;
  }

  .odaiba .p5 img {
    width: auto;
    height: 130%;
  }

  .odaiba .p6 {
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 13;
  }

  .odaiba .p6 img {
    width: auto;
    height: 135%;
  }

  .odaiba .p7 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 13;
    grid-row-end: 17;
  }

  .odaiba .p7 img {
    width: 150%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .odaibaSteveLogo {
    margin: 16px 0 0;
    position: absolute;
    left: 8.75vw;
    transform: translate(-50%, 0);
  }

  .sideBar {
    background-color: white;
    flex: 1 1 0;
  }

  .sideBody {
    flex: 1 1 65%;
  }

  .sideBarList {
    display: none;
  }

  .odaiba .gridContainer {
    background-color: black;
    padding: 5px 0 0 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 15vh);
  }

  .odaiba .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p1 img {
    width: auto;
    height: 100%;
  }

  .odaiba .p2 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p2 img {
    width: auto;
    height: 100%;
  }

  .odaiba .p3 {
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p3 img {
    width: auto;
    height: 100%;
  }

  .odaiba .p4 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p4 img {
    width: auto;
    height: 150%;
  }

  .odaiba .p5 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p5 img {
    width: auto;
    height: 100%;
  }

  .odaiba .p6 {
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p6 img {
    width: auto;
    height: 100%;
  }

  .odaiba .p7 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p7 img {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .shinbashi .gridContainer {
    background-color: black;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 14vw);
  }

  .shinbashi .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .shinbashi .p1 img {
    width: auto;
    height: 150%;
  }

  .shinbashi .p2 {
    overflow: auto;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .shinbashi .p2 > img {
    width: auto;
    height: 130%;
  }

  .shinbashi .p3 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .shinbashi .p3 > img {
    width: auto;
    height: 130%;
  }

  .shinbashi .p4 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .shinbashi .p4 img {
    width: auto;
    height: 130%;
  }

  .shinbashi .p5 {
    overflow: auto;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .shinbashi .p5 img {
    width: 120%;
    height: auto;
  }

  .shinbashi .p6 {
    overflow: auto;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .shinbashi .p6 img {
    width: auto;
    height: 110%;
  }

  .shinbashi .p7 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .shinbashi .p7 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .shinbashi .gridContainer {
    background-color: black;
    padding: 5px 0 0 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 14vh);
  }

  .shinbashi .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-width: 0 5px 5px 0;
  }

  .shinbashi .p1 img {
    width: auto;
    height: 120%;
  }

  .shinbashi .p2 {
    overflow: auto;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    border-width: 0 5px 5px 0;
  }

  .shinbashi .p2 > img {
    width: auto;
    height: 100%;
  }

  .shinbashi .p3 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    border-width: 0 5px 5px 0;
  }

  .shinbashi .p3 > img {
    width: auto;
    height: 100%;
  }

  .shinbashi .p4 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    border-width: 0 5px 5px 0;
  }

  .shinbashi .p4 img {
    width: auto;
    height: 100%;
  }

  .shinbashi .p5 {
    overflow: auto;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    border-width: 0 5px 5px 0;
  }

  .shinbashi .p5 img {
    width: 100%;
    height: 100%;
  }

  .shinbashi .p6 {
    overflow: auto;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
    border-width: 0 5px 5px 0;
  }

  .shinbashi .p6 img {
    width: auto;
    height: 100%;
  }

  .shinbashi .p7 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    border-width: 0 5px 5px 0;
  }

  .shinbashi .p7 img {
    width: auto;
    height: 110%;
  }
}
@media (max-width: 1024px) {
  .ginza .gridContainer {
    background-color: black;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(21, 7vw);
  }

  .ginza .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: black;
    z-index: 4;
  }

  .ginza .p1 img {
    width: 110%;
    height: auto;
  }

  .ginza .p2 {
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .ginza .p2 img {
    width: auto;
    height: 120%;
  }

  .ginza .p3 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 8;
  }

  .ginza .p3 img {
    width: auto;
    height: 100%;
  }

  .ginza .p4 {
    overflow: auto;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 8;
  }

  .ginza .p4 img {
    width: auto;
    height: 130%;
  }

  .ginza .p5 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 11;
  }

  .ginza .p5 img {
    width: 110%;
    height: auto;
  }

  .ginza .p6 {
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 14;
  }

  .ginza .p6 img {
    width: 110%;
    height: auto;
  }

  .ginza .p7 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 14;
  }

  .ginza .p7 img {
    width: 115%;
    height: auto;
  }

  .ginza .p8 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 14;
    grid-row-end: 22;
  }

  .ginza .p8 img {
    width: 100%;
    height: auto;
  }

  .ginza .p9 {
    overflow: auto;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 14;
    grid-row-end: 22;
  }

  .ginza .p9 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .ginza .gridContainer {
    background-color: black;
    padding: 5px 0 0 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(22, 7vw);
  }

  .ginza .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    border-width: 0 5px 5px 0;
    background-color: black;
    z-index: 4;
  }

  .ginza .p1 img {
    width: 120%;
    height: auto;
  }

  .ginza .p2 {
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
    border-width: 0 5px 5px 0;
  }

  .ginza .p2 img {
    width: auto;
    height: 100%;
  }

  .ginza .p3 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 8;
    border-width: 0 5px 5px 0;
  }

  .ginza .p3 img {
    width: auto;
    height: 100%;
  }

  .ginza .p4 {
    overflow: auto;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 8;
    border-width: 0 5px 5px 0;
  }

  .ginza .p4 img {
    width: auto;
    height: 100%;
  }

  .ginza .p5 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 12;
    border-width: 0 5px 5px 0;
  }

  .ginza .p5 img {
    height: 100%;
  }

  .ginza .p6 {
    overflow: auto;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 15;
    border-width: 0 5px 5px 0;
  }

  .ginza .p6 img {
    height: 100%;
    width: auto;
  }

  .ginza .p7 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 15;
    border-width: 0 5px 5px 0;
  }

  .ginza .p7 img {
    width: 100%;
  }

  .ginza .p8 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 15;
    grid-row-end: 23;
    border-width: 0 5px 5px 0;
  }

  .ginza .p8 img {
    width: 100%;
    height: auto;
  }

  .ginza .p9 {
    overflow: auto;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 15;
    grid-row-end: 23;
    border-width: 0 5px 5px 0;
  }

  .ginza .p9 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .shinagawa .gridContainer {
    background-color: black;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(13, 10vw);
  }

  .shinagawa .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p1 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p2 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p2 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p3 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p3 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p4 {
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 1;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p4 img {
    width: 150%;
    height: auto;
  }

  .shinagawa .p5 {
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p5 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p6 {
    overflow: auto;
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 8;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p6 img {
    width: auto;
    height: 110%;
  }

  .shinagawa .p7 {
    overflow: auto;
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 11;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p7 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p8 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 11;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p8 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p9 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 14;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p9 img {
    width: 110%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .shinagawa .gridContainer {
    background-color: black;
    padding: 5px 0 0 5px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(15, 15vw);
  }

  .shinagawa .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p1 img {
    width: auto;
    height: 100%;
  }

  .shinagawa .p2 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p2 img {
    width: 150%;
    height: auto;
  }

  .shinagawa .p3 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p3 img {
    width: auto;
    height: 110%;
  }

  .shinagawa .p4 {
    overflow: auto;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 1;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p4 img {
    width: 150%;
    height: auto;
  }

  .shinagawa .p5 {
    overflow: auto;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 9;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p5 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p6 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 10;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p6 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p7 {
    overflow: auto;
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 12;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p7 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p8 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 12;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p8 img {
    width: 110%;
    height: auto;
  }

  .shinagawa .p9 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 16;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p9 img {
    width: auto;
    height: 110%;
  }
}
@media (max-width: 1024px) {
  .shinshuku .gridContainer {
    background-color: black;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 7vw);
  }

  .shinshuku .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p1 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p2 {
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p2 img {
    width: 100%;
    height: auto;
  }

  .shinshuku .p3 {
    overflow: auto;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p3 img {
    width: 100%;
    height: auto;
  }

  .shinshuku .p4 {
    overflow: auto;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 11;
    z-index: 1;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p4 img {
    width: 100%;
    height: auto;
  }

  .shinshuku .p5 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p5 img {
    width: 100%;
    height: auto;
  }

  .shinshuku .p6 {
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p6 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p7 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 11;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p7 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p8 {
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 11;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p8 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p9 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 16;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p9 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p10 {
    overflow: auto;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 11;
    grid-row-end: 16;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p10 img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .shinshuku .gridContainer {
    background-color: black;
    padding: 5px 0 0 5px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(22, 15vw);
  }

  .shinshuku .p1 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p1 img {
    width: 100%;
    height: auto;
  }

  .shinshuku .p2 {
    overflow: auto;
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p2 img {
    width: 100%;
    height: auto;
  }

  .shinshuku .p3 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p3 img {
    width: 100%;
    height: auto;
  }

  .shinshuku .p4 {
    overflow: auto;
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 9;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p4 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p5 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p5 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p6 {
    overflow: auto;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 12;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p6 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p7 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 12;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p7 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p8 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 12;
    grid-row-end: 14;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p8 img {
    width: 100%;
    height: auto;
  }

  .shinshuku .p9 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 14;
    grid-row-end: 18;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p9 img {
    width: auto;
    height: 100%;
  }

  .shinshuku .p10 {
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 18;
    grid-row-end: 23;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinshuku .p10 img {
    width: 100%;
    height: auto;
  }
}
.photoDisplay {
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10;
}

.photo-content {
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #888;
  max-height: 80vh;
  min-width: 100vw;
  position: absolute;
  text-align: center;
  overflow: auto;
}

#odaibaPhoto {
  max-height: 77vh;
  max-width: 100vw;
}

.closeDisplay {
  right: 10px;
  color: white;
  position: fixed;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 7px 0;
  border-radius: 2px;
}

.closeDisplay:hover {
  color: black;
  background-color: white;
}

/*CSS Grip Test Page ------------------------------------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: green;
  color: red;
}

.c1 {
  background-color: yellow;
  color: red;
  grid-column: span 1;
  grid-row: span 3;
}

.c2 {
  background-color: pink;
  color: grey;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.c3 {
  background-color: purple;
  color: white;
}

.c4 {
  background-color: black;
  color: white;
}

/*# sourceMappingURL=main.css.map */
