demoheader {
  background-color: #f1e0c2;
  font-variant: small-caps;
}

body {
  background-color: white;
  padding-top: 5rem;
}

footer {
  background-color: #f1e0c2;
  height: 10%;
}

nav {
  background-color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.title {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 1.5rem;
}

.singleYear {
  font-size: 4rem;
  font-family: "Palanquin Dark", sans-serif;
  padding-bottom: 2rem;
}

/*nav bar ------------------------------------------------------- */
nav > button#myNavBtn {
  background-color: rgba(0, 0, 0, 0.2);
}

nav > button#myNavBtn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#myNav {
  color: rgba(4, 4, 4, 0.5);
}

#myNav:hover {
  color: #040404;
}

li > a.dropdown-toggle #myNav #dropdown01 {
  color: rgba(4, 4, 4, 0.5) !important;
}

li > a#myNav #dropdown01:hover {
  color: #040404;
}

body.orders li.orders > a.nav-link#myNav:hover, body.orders li.orders > a.nav-link#myNav, body.products li.products > a.nav-link#myNav:hover, body.products li.products > a.nav-link#myNav, body.about li.about > a.nav-link#myNav:hover, body.about li.about > a.nav-link#myNav, body.demo li.demo > a.nav-link#myNav:hover, body.demo li.demo > a.nav-link#myNav, body.resume li.resume > a.nav-link#myNav:hover, body.resume li.resume > a.nav-link#myNav, body.home li.home > a.nav-link#myNav:hover, body.home li.home > a.nav-link#myNav {
  color: #040404;
  font-weight: 900;
}

/* anime ------------------------------------------------------- */
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: relative;
}

/* trigrams ------------------------------------------------------- */
.trigrams {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.25rem;
}

.tri {
  background-color: rgba(255, 255, 255, 0);
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;
  border-radius: 50%;
}

.triGap {
  background-color: white;
  height: 0px;
  width: 0px;
  transform: translate(79px);
}

.triGapBlack {
  background-color: black;
}

/* animation ------------------------------------------------------- */
.homeCard:hover {
  animation: homecard 0.5s;
  animation-fill-mode: both;
}
.homeCard:hover .circle {
  animation: circleHover 0.5s;
  animation-fill-mode: both;
}

.homeCard:not(:hover) {
  animation: Rhomecard 0.5s;
  animation-fill-mode: both;
}
.homeCard:not(:hover) .circle {
  animation: RcircleHover 0.5s;
  animation-fill-mode: both;
}

@keyframes homecard {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: black;
    color: white;
  }
}
/* animation circle */
@keyframes circleHover {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(120px);
  }
}
@keyframes Rhomecard {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}
@keyframes RcircleHover {
  from {
    transform: translateY(120px);
  }
  to {
    transform: translateX(0);
  }
}
/* media screen size change -------------------------------------------------------*/
@media (min-width: 0px) {
  .singleYear {
    font-size: 6rem;
  }

  .homeCard:hover {
    animation: homecard 0.5s;
    animation-fill-mode: both;
  }
  .homeCard:hover .circle {
    animation: circleHover 0.5s;
    animation-fill-mode: both;
  }
}
@media (min-width: 576px) {
  .singleYear {
    font-size: 6rem;
  }

  .homeCard:hover {
    animation: homecard 0.5s;
    animation-fill-mode: both;
  }
  .homeCard:hover .circle {
    animation: circleHover 0.5s;
    animation-fill-mode: both;
  }
}
@media (min-width: 768px) {
  .singleYear {
    font-size: 7rem;
  }

  .homeCard:hover {
    animation: homecard 0.5s;
    animation-fill-mode: both;
    cursor: pointer;
  }
  .homeCard:hover .circle {
    animation: circleHover 0.5s;
    animation-fill-mode: both;
  }
}
@media (min-width: 992px) {
  .singleYear {
    font-size: 8rem;
  }

  .d-md-block {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .singleYear {
    font-size: 10rem;
  }

  .d-md-block {
    font-size: 1.5rem;
  }
}
/* import partials */
/*KL Pages ------------------------------------------------------- */
/*KL Index.html -------- */
.KLPreface {
  position: absolute;
  padding: 50px;
}

.KLPrefacerow-2 {
  font-size: 6rem;
}

.KLPrefaceWord {
  color: white;
  text-shadow: 0px 0px 3px black;
}

.KLTitle {
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.KLTagline {
  font-size: 35px;
  bottom: 0px;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  text-align: right;
}

.KLProductsCard {
  border-color: rgba(255, 255, 255, 0);
}

/*KLcarousel ------------- */
.carousel-caption {
  background-color: rgba(182, 9, 9, 0.5);
  border-radius: 3px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  padding: 5px 20px;
}

.d-md-block {
  font-size: 1rem;
}

.aboutWord {
  color: rgba(4, 4, 4, 0.5);
}

@media (min-width: 0px) {
  .KLPreface {
    padding: 25px;
  }

  .KLPrefacerow-2 {
    font-size: 2.5rem;
  }

  .KLTitle {
    text-align: center;
    font-size: 4.5rem;
  }

  .KLTagline {
    text-align: center;
    font-size: 1.5rem;
  }

  img.KLLogo {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 576px) {
  .KLPreface {
    padding: 30px;
  }

  .KLPrefacerow-2 {
    font-size: 3rem;
  }

  .KLTitle {
    text-align: center;
    font-size: 4.5rem;
  }

  .KLTagline {
    text-align: center;
    font-size: 1.5rem;
  }

  img.KLLogo {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 768px) {
  .KLPreface {
    padding: 50px;
  }

  .KLPrefacerow-2 {
    font-size: 4rem;
  }

  .KLTitle {
    text-align: center;
    font-size: 7rem;
  }

  .KLTagline {
    text-align: center;
    font-size: 35px;
  }

  img.KLLogo {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 992px) {
  .KLPreface {
    padding: 50px;
  }

  .KLPrefacerow-2 {
    font-size: 5.5rem;
  }

  .KLTitle {
    text-align: right;
    font-size: 8rem;
  }

  .KLTagline {
    text-align: right;
    font-size: 40px;
  }

  img.KLLogo {
    width: 58px;
    height: 58px;
  }
}
@media (min-width: 1200px) {
  .KLPreface {
    padding: 50px;
  }

  .KLPrefacerow-2 {
    font-size: 6rem;
  }

  .KLTitle {
    text-align: right;
    font-size: 8rem;
  }

  .KLTagline {
    text-align: right;
    font-size: 45px;
  }

  img.KLLogo {
    width: 68px;
    height: 68px;
  }
}
/* The Modal (background) W3school example */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: rgba(4, 4, 4, 0.3);
  right: 2%;
  font-size: 28px;
  position: absolute;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The thumbsnail */
.KLProductsBtn {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.KLProductsBtn:hover {
  border-top: 1px solid #a72a17;
  cursor: pointer;
}

@media (min-width: 0px) {
  .close {
    right: 4.5%;
  }

  .modal-content {
    width: 100%;
    top: 45%;
  }
}
@media (min-width: 576px) {
  .close {
    right: 4.5%;
  }

  .modal-content {
    width: 100%;
    top: 45%;
  }
}
@media (min-width: 768px) {
  .close {
    right: 2%;
  }

  .modal-content {
    width: 80%;
    top: 53%;
  }
}
@media (min-width: 992px) {
  .close {
    right: 2%;
  }

  .modal-content {
    width: 80%;
    top: 53%;
  }
}
@media (min-width: 1200px) {
  .close {
    right: 2%;
  }

  .modal-content {
    width: 80%;
    top: 53%;
  }
}

/*# sourceMappingURL=main.css.map */
