---
layout: odaibaDefault
---
<div class="shinshuku">
  {% include odaibaSideBar.html %}

  <div class="sideBody">

        {% include odaibaSideBodyHeader.html %}
        <div class="gridContainer">

          <div class="p1">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P1.JPG" alt="photos">
          </div>

          <div class="p2">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P2.JPG" alt="photos">
          </div>

          <div class="p3">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P3.JPG" alt="photos">
          </div>

          <div class="p4">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P4.JPG" alt="photos">
          </div>

          <div class="p5">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P5.JPG" alt="photos">
          </div>

          <div class="p6">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P6.JPG" alt="photos">
          </div>

          <div class="p7">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P7.JPG" alt="photos">
          </div>

          <div class="p8">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P8.JPG" alt="photos">
          </div>

          <div class="p9">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P9.JPG" alt="photos">
          </div>

          <div class="p10">
            <img src="/odaiba/images/shinshuku-img/shinshuku_P10.JPG" alt="photos">
          </div>


      </div>

    </div>
</div>
