---
layout: odaibaDefault
---
<div class="shinbashi">
    {% include odaibaSideBar.html %}

    <div class="sideBody">
      {% include odaibaSideBodyHeader.html %}

      <div class="gridContainer">
        <div class="p1"  >
          <img src="/odaiba/images/shinbashi-img/shin_P1.JPG" alt="photos">
        </div>

        <div class="p2">
          <img src="/odaiba/images/shinbashi-img/shin_P2.JPG" alt="photos">
        </div>

        <div class="p3">
          <img src="/odaiba/images/shinbashi-img/shin_P3.JPG" alt="photos">
        </div>

        <div class="p4">
          <img src="/odaiba/images/shinbashi-img/shin_P4.JPG" alt="photos">
        </div>

        <div class="p5">
          <img src="/odaiba/images/shinbashi-img/shin_P5.JPG" alt="photos">
        </div>

        <div class="p6">
          <img src="/odaiba/images/shinbashi-img/shin_P6.JPG" alt="photos">
        </div>

        <div class="p7">
          <img src="/odaiba/images/shinbashi-img/shin_P7.JPG" alt="photos">
        </div>
    </div>
    </div>
</div>
