.JP_body{
  background-color: black;
  padding: 0;
}


ul{
  list-style-type: none;
}

// 1st Level-------------------------
// Content of Each Page
%each_content{
  background-color: white;
  display: flex;
}

.odaiba{
  @extend %each_content;
}

.shinbashi{
  @extend %each_content;
}

.ginza{
  @extend %each_content;
}

.shinagawa{
    @extend %each_content;
}

.shinshuku{
    @extend %each_content;
}

//Fotter of each page------------------------
.odaibaFooter{
  position: absolute;
  width: 100vw;
  padding-top: 10px;
  background-color:black;
  height: 110px;
  text-align: center;
  color:rgba(200, 200, 200, 0.6);
}

.mediaLogo{
  margin: 5px;
  font-size: 16px;
  color:rgba(200, 200, 200, 0.6);
}

.mediaLogo:hover{
  color:white;
}

.copyright{
  font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
}


//SideBody--------
// For biggest monitor
.sideBody{
  padding: 0px;
  flex: 1 1 35%;
}

.sideBodyHeader{
  background-color: white;
  height:5vh;
  margin: 0;
  display: flex;
}

.sideBodyHeader a{
  color:rgb(200, 200, 200);
  font-family: 'Kosugi Maru', sans-serif;
  display: block;
  text-align: center;
}

.sideBodyHeader a div{
  margin-top:2.5vh;
  transform: translate(0, -50%);
}

.sideBodyHeader a:hover{
  text-decoration:none;
}

.headerLabel{
  background-color: white;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.headerLabel:hover{
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 7px 7px 0 0;
}


// Siderbar style when the page is selected
%Selected_sidebar_word{
  -webkit-animation: wordChange 0.3s forwards;
  -webkit-animation-timing-function: ease-out;
  font-family: 'Voltaire', sans-serif;
}

@-webkit-keyframes wordChange{
  from {
    // font-size: 10px;
  }
  to {
    font-size: calc(14px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
    color:black;
  }
}

div.odaiba div.sideBar div.sideOdai a{
  @extend %Selected_sidebar_word;
}

div.shinbashi div.sideBar div.sideShin a{
  @extend %Selected_sidebar_word;
}

div.ginza div.sideBar div.sideGin a{
  @extend %Selected_sidebar_word;
}

div.shinagawa div.sideBar div.sideShi a{
  @extend %Selected_sidebar_word;
}

div.shinshuku div.sideBar div.sideShinshuku a{
  @extend %Selected_sidebar_word;
}

// header color of side body
div.odaiba > div.sideBody > div.sideBodyHeader> a.oda{
    background-color: black;
    border-radius: 7px 7px 0 0;
}

div.shinbashi > div.sideBody > div.sideBodyHeader> a.shin{
    background-color: black;
    border-radius: 7px 7px 0 0;
}

div.ginza > div.sideBody > div.sideBodyHeader> a.gin{
    background-color: black;
    border-radius: 7px 7px 0 0;
}

div.shinagawa > div.sideBody > div.sideBodyHeader> a.shi{
    background-color: black;
    border-radius: 7px 7px 0 0;
}

div.shinshuku > div.sideBody > div.sideBodyHeader> a.shuku{
    background-color: black;
    border-radius: 7px 7px 0 0;
}



// Odaiba Photos
.odaiba .gridContainer{
  background-color: black;
  padding: 10px 0 0 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 7vw);
}

.odaiba .p1{
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p1 img{
  height: 100%;
  width: auto;
}

.odaiba .p2{
  overflow: auto;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p2 img{
  height: 100%;
  width: auto;
}

.odaiba .p3{
  overflow: auto;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 5;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p3 img{
  height: 100%;
  width: auto;
}

.odaiba .p4{
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 8;
  z-index: 1;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p4 img{
  height: 100%;
  width: auto;
}

.odaiba .p5{
  overflow: auto;
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 7;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p5 img{
  height: 100%;
  width: auto;
}

.odaiba .p6{
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 10;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p6 img{
  height: 100%;
  width: auto;
}


.odaiba .p7{
  overflow: auto;
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 7;
  grid-row-end: 10;
  border-width: 0 10px 10px 0;
  border-color: black;
  border-style: solid;
}

.odaiba .p7 img{
  height: 100%;
  width: auto;
}

// 2nd Level-----------------------
//below .odaiba, .shinbashi, .ginza {}
//SideBar--------
.sideBar{
  // background-color:green;
  height: auto;
  flex: 1 1 0;

}
.sideBar a{
  color:rgb(150, 150, 150);
}

.sideBarContiner{
  position: fixed;
}

.odaibaSteveLogo{
  margin: 16px;
}

.sideBarList a:hover{
  text-decoration: none;
  color:black;
}

.sideBarList{
  padding-left: 15px;
}


@import "./shin";
@import "./gin";
@import "./shi";
@import "./shinshuku";
@import "./odaiba_@media";
@import "./shin_@media";
@import "./gin_@media";
@import "./shi_@media";
@import "./shinshuku_@media";
@import "./photoDisplay";
