// Mac Book-------------------------------------------------------
@media (max-width:1500px) {
  .sideBody{
    padding: 0px;
    flex: 1 1 50%;
  }
}

// iPad and iPad mini-------------------------------------------------------
@media (max-width:1024px) {
  .sideBar{
  background-color: white;
  flex: 1 1 0;
  }

  .sideBody{
  flex: 1 1 65%;
  }

  .sideBarList{
    position: absolute;
    top: 62px;
    margin: 0 0 0 3px;
  }



  .odaiba .gridContainer{
    background-color: black;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, 7vw);
  }

  .odaiba .p1{
    overflow: auto;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .odaiba .p1 img{
    height: 110%;
    width: auto;
  }

  .odaiba .p2{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .odaiba .p2 img{
    width: 110%;
    height: auto;
  }

  .odaiba .p3{
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 4;
  }

  .odaiba .p3 img{
    height: 120%;
    width: auto;
  }

  .odaiba .p4{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 11;
  }

  .odaiba .p4 img{
    width: 100%;
    height: auto;
  }

  .odaiba .p5{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 13;
  }

  .odaiba .p5 img{
    height: 130%;
    width: auto;
  }

  .odaiba .p6{
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 13;
  }

  .odaiba .p6 img{
    height: 135%;
    width: auto;
  }


  .odaiba .p7{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 13;
    grid-row-end: 17;
  }

  .odaiba .p7 img{
    width: 150%;
    height: auto;
  }
}

// iPhone-------------------------------------------------------
@media (max-width:576px) {
  .odaibaSteveLogo{
    // margin: 50vw;
    margin: 16px 0 0 ;
    position: absolute;
    left: 8.75vw;
    transform: translate(-50%, 0);
  }

  .sideBar{
  background-color: white;
  flex: 1 1 0;
  }

  .sideBody{
  flex: 1 1 65%;
  }

  .sideBarList{
    display: none;
  }

  .odaiba .gridContainer{
    background-color: black;
    padding: 5px 0 0 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 15vh);
  }

  .odaiba .p1{
    overflow: auto;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p1 img{
    height: 100%;
    width: auto;
  }

  .odaiba .p2{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p2 img{
    height: 100%;
    width: auto;
  }

  .odaiba .p3{
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 2;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p3 img{
    height: 100%;
    width: auto;
  }

  .odaiba .p4{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p4 img{
    height: 150%;
    width: auto;
  }
  .odaiba .p5{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p5 img{
    height: 100%;
    width: auto;
  }

  .odaiba .p6{
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p6 img{
    height: 100%;
    width: auto;
  }


  .odaiba .p7{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    border-width: 0 5px 5px 0;
  }

  .odaiba .p7 img{
    height: 100%;
    width: auto;
  }
}
