@media (max-width:1024px) {
  .shinagawa .gridContainer{
    background-color: black;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(13, 10vw);
  }

  .shinagawa .p1{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p1 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p2{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p2 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p3{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p3 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p4{
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 1;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p4 img{
    width: 150%;
    height: auto;
  }

  .shinagawa .p5{
    overflow: auto;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p5 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p6{
    overflow: auto;
    grid-column-start:9;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 8;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p6 img{
    height: 110%;
    width: auto;
  }

  .shinagawa .p7{
    overflow: auto;
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 11;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p7 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p8{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 11;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p8 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p9{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 14;
    border-width: 0 10px 10px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p9 img{
    width: 110%;
    height: auto;
  }

}

@media (max-width:576px) {
  .shinagawa .gridContainer{
    background-color: black;
    padding: 5px 0 0 5px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(15, 15vw);
  }

  .shinagawa .p1{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p1 img{
    height: 100%;
    width:auto;
  }

  .shinagawa .p2{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p2 img{
    width: 150%;
    height: auto;
  }

  .shinagawa .p3{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p3 img{
    height: 110%;
    width: auto;
  }

  .shinagawa .p4{
    overflow: auto;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 1;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p4 img{
    width: 150%;
    height: auto;
  }

  .shinagawa .p5{
    overflow: auto;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 9;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p5 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p6{
    overflow: auto;
    grid-column-start:1;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 10;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p6 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p7{
    overflow: auto;
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 12;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p7 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p8{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 12;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p8 img{
    width: 110%;
    height: auto;
  }

  .shinagawa .p9{
    overflow: auto;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 16;
    border-width: 0 5px 5px 0;
    border-color: black;
    border-style: solid;
  }

  .shinagawa .p9 img{
    height: 110%;
    width: auto;
  }

}
