.fun-valentine{
  background-color: white;
  padding: 10px 0 0 10px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 5vh);
}

.s1_title{
  font-size: calc(14px + (87 - 14) * ((100vw - 300px) / (1600 - 300)));
  grid-column-start:9;
  grid-column-end: 20;
  grid-row-start: 3;
  grid-row-end: 5;
  z-index: 2;
  font-weight: 100;

}

.s1_w1{
  grid-column-start:3;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 8;
  z-index: 1;

  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  // font-family: 'Gaegu', cursive;
  font-family: 'Harmattan', sans-serif;
  color:rgba(0,0,0,0.7);
}
.s1_w2{
  grid-column-start:3;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 13;
  z-index: 1;

  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  // font-family: 'Gaegu', cursive;
  font-family: 'Harmattan', sans-serif;
  color:rgba(0,0,0,0.7);
}
.s1_w3{
  grid-column-start:3;
  grid-column-end: 10;
  grid-row-start: 13;
  grid-row-end: 20;
  z-index: 1;

  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  // font-family: 'Gaegu', cursive;
  font-family: 'Harmattan', sans-serif;
  color:rgba(0,0,0,0.7);
}
.s1_author{
  grid-column-start:9;
  grid-column-end: 20;
  grid-row-start: 18;
  grid-row-end: 20;
  z-index: 1;
  color:rgb(168, 165, 165);
  font-size:0.8rem;
  font-weight: 100;
}

.s1_p1{
  grid-column-start:9;
  grid-column-end: 21;
  grid-row-start: 5;
  grid-row-end: 18;
  overflow:auto;
  img {
    height:100%;
    width: auto;
  }
}
