@media (max-width:1024px) {
  .s3_author{
    grid-column-start:2;
    grid-column-end: 20;
    grid-row-start: 20;
    grid-row-end: 21;
  }
}



@media (max-width:576px) {
  .s3_title{
    font-size: calc(25px + (80 - 25) * ((100vw - 300px) / (1600 - 300)));
    grid-column-start:8;
    grid-column-end: 18;
    grid-row-start: 2;
    grid-row-end: 5;
    z-index: 2;
    font-family: 'Sriracha', cursive;
    text-shadow: 1px 1px white;
  }

  .s3_w1{
    grid-column-start:6;
    grid-column-end: 21;
    grid-row-start: 4;
    grid-row-end: 8;
    z-index: 1;

    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Gaegu', cursive;
    color:black;
    text-shadow: 1px 1px white;
  }
  .s3_w2{
    grid-column-start:6;
    grid-column-end: 21;
    grid-row-start: 6;
    grid-row-end: 8;
    z-index: 1;

    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Gaegu', cursive;
    color:black;
    text-shadow: 1px 1px white;
  }
  .s3_w3{
    grid-column-start:6;
    grid-column-end: 18;
    grid-row-start: 8;
    grid-row-end: 21;
    z-index: 1;

    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Gaegu', cursive;
    color:black;
    text-shadow: 1px 1px white;
  }

  .s3_w4{
    grid-column-start:6;
    grid-column-end: 18;
    grid-row-start: 10;
    grid-row-end: 21;
    z-index: 1;

    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Gaegu', cursive;
    color:black;
    text-shadow: 1px 1px white;
  }

  .s3_w5{
    grid-column-start:6;
    grid-column-end: 18;
    grid-row-start: 12;
    grid-row-end: 21;
    z-index: 1;

    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Gaegu', cursive;
    color:white;
    text-shadow: 1px 1px black;
  }

  .s3_w6{
    grid-column-start:6;
    grid-column-end: 18;
    grid-row-start: 14;
    grid-row-end: 21;
    z-index: 1;

    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Gaegu', cursive;
    color:black;
    text-shadow: 1px 1px white;
  }

  .s3_w7{
    grid-column-start:6;
    grid-column-end: 18;
    grid-row-start: 15;
    grid-row-end: 21;
    z-index: 1;

    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Gaegu', cursive;
    color:black;
    text-shadow: 1px 1px white;
  }

  .s3_w8{
    grid-column-start:6;
    grid-column-end: 18;
    grid-row-start: 17;
    grid-row-end: 21;
    z-index: 1;

    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Gaegu', cursive;
    color:black;
    text-shadow: 1px 1px white;
  }


  .s3_author{
    grid-column-start:2;
    grid-column-end: 20;
    grid-row-start: 20;
    grid-row-end: 21;
    z-index: 1;
    color:rgb(168, 165, 165);
    font-weight: 100;
    font-size:calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
  }

  .s3_p1{
    grid-column-start:1;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 21;
    overflow: auto;
    img {
      height:100%;
      width:auto;
    }
  }
}


@media (max-width:375px) {
  .s3_title{
    font-size: calc(20px + (45 - 20) * ((100vh - 300px) / (1600 - 300)));
  }
  .s3_w1, .s3_w2, .s3_w3, .s3_w4, .s3_w5, .s3_w6, .s3_w7, .s3_w8 {
    line-height: calc(10px + (25 - 10) * ((100vh - 300px) / (1600 - 300)));
    grid-column-start:5;
    grid-column-end: 19;

  }
}

/* iPhone 6 above_horizental */
@media (max-width:750px) and (max-height:450px) {
  .fun-valentine{
    background-color: white;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 5vh);
  }


    .s3_title{
      font-size: calc(14px + (100 - 14) * ((100vw - 300px) / (1600 - 300)));
      grid-column-start:2;
      grid-column-end: 20;
      grid-row-start:1;
      grid-row-end: 5;

      margin-top: calc(1px + (30 - 1) * ((100vw - 300px) / (1600 - 300)));
    }

    .s3_w1{
      grid-column-start:2;
      grid-column-end: 10;
      grid-row-start: 5;
      grid-row-end: 12;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
    .s3_w2{
      grid-column-start:2;
      grid-column-end: 10;
      grid-row-start: 8;
      grid-row-end: 21;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
    .s3_w3{
      grid-column-start:2;
      grid-column-end: 10;
      grid-row-start: 11;
      grid-row-end: 21;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s3_w4{
      grid-column-start:2;
      grid-column-end: 10;
      grid-row-start: 16;
      grid-row-end: 20;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s3_w5{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 5;
      grid-row-end: 20;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));

      color:black;
      text-shadow: 1px 1px white;
    }

    .s3_w6{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 8;
      grid-row-end: 20;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s3_w7{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 10;
      grid-row-end: 20;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s3_w8{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 13;
      grid-row-end: 20;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s3_author{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 19;
      grid-row-end: 20;
      z-index: 1;
      color:rgb(168, 165, 165);
      font-size:calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s3_p1{
      display: none;
    }

    .chet_CB_logo{
      display: none;

    }

}


/* iPhone SE_Horizental */
@media (max-width:568px) and (max-height:320px) {
  .s3_w1, .s3_w2, .s3_w3{
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

  .s3_w8{
    grid-row-start: 14;
    grid-row-end: 20;
  }

  .s3_author{
    font-size:calc(5px + (20 - 5) * ((100vw - 300px) / (1600 - 300)));
  }
}
