.what-love-is{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 5vh);
}

.s4_title{
  font-size: calc(25px + (45 - 25) * ((100vw - 300px) / (1600 - 300)));
  grid-column-start:10;
  grid-column-end: 20;
  grid-row-start: 3;
  grid-row-end: 5;
  z-index: 2;
  font-family: 'Special Elite', cursive;
}

.s4_w1{
  grid-column-start:11;
  grid-column-end: 20;
  grid-row-start: 5;
  grid-row-end: 9;
  z-index: 1;

  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Buda', cursive;
  color:rgba(0,0,0,0.7);
}
.s4_w2{
  grid-column-start:11;
  grid-column-end: 20;
  grid-row-start: 9;
  grid-row-end: 14;
  z-index: 1;

  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Buda', cursive;
  color:rgba(0,0,0,0.7);
}
.s4_w3{
  grid-column-start:11;
  grid-column-end: 20;
  grid-row-start: 13;
  grid-row-end: 21;
  z-index: 1;

  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Buda', cursive;
  color:rgba(0,0,0,0.7);
}

.s4_w4{
  grid-column-start:11;
  grid-column-end: 20;
  grid-row-start: 16;
  grid-row-end: 21;
  z-index: 1;

  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Buda', cursive;
  color:rgba(0,0,0,0.7);
}

.s4_author{
  grid-column-start:2;
  grid-column-end: 20;
  grid-row-start: 18;
  grid-row-end: 20;
  z-index: 1;
  color:rgb(168, 165, 165);
  font-size:0.8rem;
  font-weight: 100;
}

.s4_p1{
  grid-column-start:1;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 17;
  overflow: auto;
  img {
    height:100%;
    width:auto;
  }
}
