@media (max-width:1024px) {
  .s4_title{
    grid-column-start:7;
    grid-column-end: 20;
    grid-row-start: 4;
    grid-row-end: 5;

  }

  .s4_author{
    grid-column-start:2;
    grid-column-end: 20;
    grid-row-start: 20;
    grid-row-end: 21;
  }
}


@media (max-width:576px) {

  .s4_title{
    grid-column-start:2;
    grid-column-end: 21;
    grid-row-start: 3;
    grid-row-end: 5;


    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
  }

  .s4_w1{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 5;
    grid-row-end: 9;
    z-index:1;

    text-shadow: 1px 1px white;
  }
  .s4_w2{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 9;
    grid-row-end: 14;
    z-index: 1;

    text-shadow: 1px 1px white;
  }
  .s4_w3{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 13;
    grid-row-end: 21;
    z-index: 1;

    text-shadow: 1px 1px white;
  }

  .s4_w4{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 16;
    grid-row-end: 21;
    z-index: 1;

    text-shadow: 1px 1px white;
  }

  .s4_author{
    grid-column-start:2;
    grid-column-end: 20;
    grid-row-start: 20;
    grid-row-end: 21;
    z-index: 1;
    color:rgb(168, 165, 165);
    font-weight: 100;
    font-size:calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
  }

  .s4_p1{
    grid-column-start:1;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: 17;
    overflow: auto;
    img {
      height:100%;
      width:auto;
    }
  }

}

@media (max-width:375px) {
  .s4_title{
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  }
  .s4_w1, .s4_w2, .s4_w3, .s4_w4{
    line-height: calc(10px + (30 - 10) * ((100vh - 300px) / (1600 - 300)));
  }
}

/* iPhone 6 above_horizental */
@media (max-width:1024px) and (max-height:450px) {
  .fun-valentine{
    background-color: white;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 5vh);
  }


    .s4_title{
      font-size: calc(14px + (90 - 14) * ((100vw - 300px) / (1600 - 300)));
      grid-column-start:2;
      grid-column-end: 20;
      grid-row-start:1;
      grid-row-end: 5;
      z-index: 2;

      margin-top: calc(1px + (30 - 1) * ((100vw - 300px) / (1600 - 300)));
    }

    .s4_w1{
      grid-column-start:2;
      grid-column-end: 10;
      grid-row-start: 5;
      grid-row-end: 12;
      z-index: 1;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
    .s4_w2{
      grid-column-start:2;
      grid-column-end: 10;
      grid-row-start: 13;
      grid-row-end: 21;
      z-index: 1;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
    .s4_w3{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 5;
      grid-row-end: 20;
      z-index: 1;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s4_w4{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 11;
      grid-row-end: 20;
      z-index: 1;

      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s4_author{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 19;
      grid-row-end: 20;
      z-index: 1;
      color:rgb(168, 165, 165);
      font-size:calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s4_p1{
      display: none;
    }

    .chet_CB_logo{
      display: none;

    }

}

/* iPhone SE_Horizental */
@media (max-width:568px) and (max-height:320px) {
  .s4_w1, .s4_w2, .s4_w3{
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

  .s4_author{
    font-size:calc(5px + (20 - 5) * ((100vw - 300px) / (1600 - 300)));
  }

}
