.fool-want-you{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 5vh);
}

.s5_title{
  font-size: calc(25px + (60 - 25) * ((100vw - 300px) / (1600 - 300)));
  grid-column-start:2;
  grid-column-end: 21;
  grid-row-start: 4;
  grid-row-end: 6;
  z-index: 2;
  font-family: 'Fredericka the Great', cursive;
}

.s5_w1{
  grid-column-start:2;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 20;
  z-index: 1;

  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 100;
  line-height:2;
  color:rgba(0,0,0,0.7);
}
.s5_w2{
  grid-column-start:2;
  grid-column-end: 7;
  grid-row-start: 14;
  grid-row-end: 20;
  z-index: 1;

  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 100;
  line-height:2;
  color:rgba(0,0,0,0.7);
}
.s5_w3{
  grid-column-start:8;
  grid-column-end: 12;
  grid-row-start: 6;
  grid-row-end: 10;
  z-index: 1;

  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 100;
  line-height:2;
  color:rgba(0,0,0,0.7);
}
.s5_w4{
  grid-column-start:8;
  grid-column-end: 12;
  grid-row-start: 14;
  grid-row-end: 20;
  z-index: 1;

  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 100;
  line-height:2;
  color:rgba(0,0,0,0.7);
}

.s5_author{
  grid-column-start:2;
  grid-column-end: 20;
  grid-row-start: 20;
  grid-row-end: 21;
  z-index: 1;
  color:rgb(168, 165, 165);
  font-size:0.8rem;
  font-weight: 100;
}

.s5_p1{
  grid-column-start:13;
  grid-column-end: 21;
  grid-row-start: 1;
  grid-row-end: 21;
  overflow: auto;
  img {
    height:100%;
    width:auto;
  }
}

.s5_p2{
  grid-column-start:8;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 14;
  overflow: auto;
  img {
    width:110%;
    height:auto;

  }
}


@media (max-height:746px) and (max-width:694px)  {
  .s5_w1, .s5_w2, .s5_w3, .s5_w4{
    line-height: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
  }
}
