@media (max-width:1024px) {
  .s7_w1{
    grid-column-start:9;
    grid-column-end: 20;
    grid-row-start: 4;
    grid-row-end: 20;
    z-index: 1;

    font-size: calc(14px + (19 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Marvel', sans-serif;
    color:rgba(0,0,0,0.7);
    margin-left: 0;

  }
  .s7_w2{
    grid-column-start:9;
    grid-column-end: 20;
    grid-row-start: 10;
    grid-row-end: 20;
    z-index: 1;
    font-size: calc(14px + (19 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Marvel', sans-serif;
    color:rgba(0,0,0,0.7);
    margin-left: 0;
  }

  .s7_w3{
    grid-column-start:9;
    grid-column-end: 20;
    grid-row-start: 13;
    grid-row-end: 20;
    z-index: 1;
    font-size: calc(14px + (19 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Marvel', sans-serif;
    color:rgba(0,0,0,0.7);

    margin:0 0 0 0;
  }

  .s7_author{
    grid-column-start:14;
    grid-column-end: 21;
  }
  .s7_p1{
    grid-column-start:1;
    grid-column-end:7;
    grid-row-start: 1;
    grid-row-end: 21;
    overflow: auto;
    img {
      height:100%;
      width:auto;
    }
  }

  .s7_p2{
    grid-column-start:16;
    grid-column-end: 20;
    grid-row-start: 13;
    grid-row-end: 20;
    overflow: auto;
    img {
      width:100%;
      height:auto;
    }
  }
}


/* iPad Mini_horizental */
@media (max-width:1024px) and (max-height:768px) {
  .s7_title{
    font-size: calc(14px + (80 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  .s7_w1, .s7_w2, .s7_w3{
    line-height: calc(10px + (30 - 10) * ((100vw - 300px) / (1600 - 300)));
  }
}



@media (max-width:576px) {
  .s7_title{
    font-size: calc(14px + (200 - 14) * ((100vw - 300px) / (1600 - 300)));
    grid-column-start:4;
    grid-column-end: 21;
    grid-row-start: 2;
    grid-row-end: 15;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
  }
  .s7_w1{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 4;
    grid-row-end: 20;
    z-index: 1;

    font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Marvel', sans-serif;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px white;
    line-height: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));

  }
  .s7_w2{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 10;
    grid-row-end: 20;
    z-index: 1;
    font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Marvel', sans-serif;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px white;
    line-height: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

  .s7_w3{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 13;
    grid-row-end: 20;
    z-index: 1;
    font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Marvel', sans-serif;
    color:rgba(0,0,0,0.7);
    text-shadow: 1px 1px white;
    line-height: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));

    margin:0 0 0 0;
  }

  .s7_author{
    grid-column-start:14;
    grid-column-end: 21;
  }
  .s7_p1{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 21;
    overflow: auto;
    img {
      height:100%;
      width:auto;
    }
  }

  .s7_p2{
    grid-column-start:13;
    grid-column-end: 20;
    grid-row-start: 10;
    grid-row-end: 20;
    overflow: auto;
    img {
      width:100%;
      height:auto;
    }
  }

  .s7_author{
    grid-column-start:2;
    grid-column-end: 21;
    font-size:calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
  }
}

@media (max-width:375px) {

  .s7_w1{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 4;
    grid-row-end: 20;
    z-index: 1;

  }
  .s7_w2{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 11;
    grid-row-end: 20;
  }

  .s7_w3{
    grid-column-start:4;
    grid-column-end: 20;
    grid-row-start: 14;
    grid-row-end: 20;
  }

}




/* iPhone 6 above_horizental */
@media (max-width:1024px) and (max-height:450px) {
  .fun-valentine{
    background-color: white;
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 5vh);
  }


    .s7_title{
      font-size: calc(14px + (100 - 14) * ((100vw - 300px) / (1600 - 300)));
      grid-column-start:2;
      grid-column-end: 20;
      grid-row-start:1;
      grid-row-end: 5;
      z-index: 2;

      margin-top: calc(1px + (30 - 1) * ((100vw - 300px) / (1600 - 300)));
    }

    .s7_w1{
      grid-column-start:2;
      grid-column-end: 10;
      grid-row-start: 5;
      grid-row-end: 12;
      z-index: 1;

      font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (37 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
    .s7_w2{
      grid-column-start:2;
      grid-column-end: 10;
      grid-row-start: 15;
      grid-row-end: 20;
      z-index: 1;

      font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (37 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
    .s7_w3{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 5;
      grid-row-end: 20;
      z-index: 1;

      font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
      line-height: calc(10px + (37 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s7_author{
      grid-column-start:11;
      grid-column-end: 20;
      grid-row-start: 19;
      grid-row-end: 20;
      z-index: 1;
      color:rgb(168, 165, 165);
      font-size:calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
    }

    .s7_p1, .s7_p2{
      display: none;
    }

    .chet_CB_logo{
      display: none;

    }

}


/* iPhone SE_Horizental */
@media (max-width:568px) and (max-height:320px) {
  .s7_w1, .s7_w2, .s7_w3{
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
  }

  .s7_author{
    font-size:calc(5px + (20 - 5) * ((100vw - 300px) / (1600 - 300)));
  }

}
