.chet_header{
  // for I've already set the main body padding 5rem
  margin-top:-5rem;
  background-color:none;
  height: 10rem;
  position: fixed;
  width:100vw;
}

.chet_S_logo{
  position: absolute;
  margin: 30px;
  right:10px;
}

.chet_CB_logo{
  position: absolute;
  margin-top:-2rem;
  top:30px;
  left:30px;
  font-family: 'Bungee Inline', cursive;
  font-size: 5rem;
  index:20;
}

.chet_L1{
  margin-top:-5rem;

  //The #REQUIRED# attributes for scroll-snap-type container
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.chet_L2{
  background-color: grey;
  //The #REQUIRED# attributes for scroll-snap-type child
  scroll-snap-align: start;
  height: 100vh;
}


@import "./01_fun_va";
@import "./02_fall_in";
@import "./03_not_for";
@import "./04_what_love";
