<footer class="homeFooter">
  <div class="mediaLogoCt">
    <a href="https://www.linkedin.com/in/steve-hsu-b0318b222/" class="mediaLogo"
      ><i class="fab fa-brands fa-linkedin"></i
    ></a>
    <!-- <a href="https://www.facebook.com" class="mediaLogo"
      ><i class="fab fa-facebook-square"></i
    ></a>
    <a href="https://twitter.com/home" class="mediaLogo"
      ><i class="fab fa-twitter-square"></i
    ></a>
    <a href="https://www.reddit.com" class="mediaLogo"
      ><i class="fab fa-reddit-square"></i
    ></a> -->
    <a href="https://steve-hsu.net" class="mediaLogo"
      ><i class="fas fa-home"></i
    ></a>
  </div>
  <div class="copyright">
    Copyright © 2020 by Steve Hsu<br />All rights reserved
  </div>
</footer>
