<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top box-shadow">
    <a class="navbar-brand" href="/">
      <img src="/bigS.ico" height="30" width="30" alt="">
    </a>
    <button id="myNavBtn" class="navbar-toggler" id="myNavBtn" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item home">
          <a class="nav-link " id="myNav" href="/">B & W</a>
        </li>
        <li class="nav-item resume">
          <a class="nav-link" id="myNav" href="/resume">Resume</a>
        </li>

        <li class="nav-item dropdown demo">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01 myNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: grey">Demo</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/kailong">KaiLong CNC</a>
            <a class="dropdown-item" href="/odaiba">Biz Trip JP</a>
            <a class="dropdown-item" href="/chet">Jazz Star - Chet Baker</a>
            <a class="dropdown-item" href="https://www.g-proe.com">G-Proe - Order manager for Garment industry</a>
          </div>
        </li>
      </ul>

      <!-- the search bar -->
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->

    </div>

  </nav>

</header>
