<head>
  <meta charset="utf-8">
  <title>Steve's playground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/s.ico" rel="icon" type="image/ico" sizes="32x32">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap4.3.1.min.css">

  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark&display=swap" rel="stylesheet">
  <!-- google font for odaiba page -->
  <link href="https://fonts.googleapis.com/css?family=Voltaire&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- anime JS -->

</head>
