<head>
  <meta charset="utf-8">
  <title>Steve's playground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/s.ico" rel="icon" type="image/ico" sizes="32x32">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap4.3.1.min.css">

  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark&display=swap" rel="stylesheet">

  <!-- google font for chet baker page -->
  <!-- Chet Baker Title -->
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">
  <!-- My Funny Valentine -->
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Emilys+Candy&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap" rel="stylesheet">


  <!-- Lrics -->

  <link href="https://fonts.googleapis.com/css?family=Marvel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
  <!-- You don't know what love is Lrics -->
  <link href="https://fonts.googleapis.com/css?family=Buda:300&display=swap" rel="stylesheet">



  <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Plaster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica+SC&display=swap" rel="stylesheet">



  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/css/input.css">

  <!-- anime JS -->

</head>
