<head>
  <meta charset="utf-8">
  <title>Steve's playground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/s.ico" rel="icon" type="image/ico" sizes="32x32">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap4.3.1.min.css">

  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark&display=swap" rel="stylesheet">

  <!-- google font for chet baker page -->
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Gaegu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/css/input.css">

  <!-- anime JS -->

</head>
