<div class="sideBodyHeader">

  <!-- <div class="headerLabel oda">
    <a href="/odaiba">お台場</a>
  </div>
  <div class=" headerLabel shin">
    <a href="/odaiba/shinbashi">新橋</a>
  </div>
  <div class=" headerLabel shuku">
    <a href="/odaiba/shinshuku">新宿</a>
  </div>
  <div class=" headerLabel gin">
    <a href="/odaiba/ginza">銀座</a>
  </div>
  <div class=" headerLabel shi">
    <a href="/odaiba/shinagawa">品川</a>
  </div> -->

    <a href="/odaiba" class="headerLabel oda">
      <div class="">
        お台場
      </div>
    </a>

    <a href="/odaiba/shinbashi" class=" headerLabel shin">
      <div class="">
        新橋
      </div>
    </a>

    <a href="/odaiba/shinshuku" class=" headerLabel shuku">
      <div class="">
        新宿
      </div>
    </a>

    <a href="/odaiba/ginza" class=" headerLabel gin">
      <div class="">
        銀座
      </div>
    </a>

    <a href="/odaiba/shinagawa" class=" headerLabel shi">
      <div class="">
        品川
      </div>
    </a>

</div>
