<div class="sideBar">

  <div class="sideBarContiner">
    <div class="odaibaSteveLogo">
      <a class="" href="/">
        <img src="/bigS.ico" height="30" width="30" alt="">
      </a>
    </div>

    <div class="sideBarList">
      <div class="sideOdai">
        <a href="/odaiba">Odaiba</a>
      </div>
      <div class="sideShin">
        <a href="/odaiba/shinbashi">Shinbashi</a>
      </div>
      <div class="sideGin">
        <a href="/odaiba/ginza">Ginza</a>
      </div>
    </div>
  </div>
</div>

{% include odaibaPhotoDisplay.html %}
